*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: "Raleway", sans-serif;
    background-color: #ecf0f1;

}

.todobar{
    height: 12vh;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
.color-container{
    height: 60%;
    /* border: 1px solid red; */
    width: 14rem;
    margin-right: 4rem;
    border-radius: 0.2rem;
    background-color: #407179;
    display: flex;
}
.color_box{
    height: 100%;
    /* 1/4 */
    width:25%;
    /* border: 1px solid red; */
    /* perfectly center */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24rem;
}
.color{
    height: 50%;
    width:50%;
    /* border: 1px solid red; */
    border-radius: 1rem;
}
.pink{
background-color: #fd79a8;
}
.green{
background-color: #badc58;
}
.orange{
background-color: #f1c40f;
}
.electricBlue{
    background-color: #7ed6df;
}
.action-container{
    height: 60%;
    width: 8rem;
    background-color: #407179;
    border-radius: 0.2rem;
    display: flex;
    border-radius: 0.2rem solid;
}
.icon-container{
    width:50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icons -> text */
.fas{
    font-size: 1.5rem;
}
.main_container{
    background-color: #182C61;
    height: 88vh;
    overflow: auto;
    padding-top : 2rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* modal css */
.box_container{
position: absolute;
height:18rem;
width:36rem;
background-color: brown;
left:19vw;
top:30vh;
display: flex;
box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.698);
}
.input_container{
    height: 100%;
    width:73%;
    background-color: #F8EFBA;
}
.box_input{
    height: 100%;
    width:100%;
    outline:none;
    padding: 2rem 3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    /*  line between space */
    line-height: 145%;
    font-weight: 500;
    background-color:#dcdde1;
}
.box_color_container{
 width:27%;
 background-color:#6D214F;
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* gap:2rem; */
align-items: center;
padding: 1.7rem 1.2rem;
}
.circle{
    height: 50%;
    width: 50%;
    border-radius: 10rem;
    margin-bottom: 1rem;
}
.box_color_container>.circle{
   height: 15%; 
   width:60%
}
.border{
    border: 0.2rem solid #ffeaa7;
}
/* task css */
.main_container{
    height:88vh;
    padding-top: 2rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.task_filter{
    height: 10%;
}
.task_container{
    height: 10rem;
    width:16rem;
    background-color: #dcdde1;
}
.task_desc_container{
    padding-left:0.5rem;
    height :80%;
}
.task_desc{
    text-align: center;
    overflow-y : auto;
    height: 70%;
    word-break: break-all; 
}
.uid{
    color: #444;
    margin-bottom: 0.1rem;
}